{% extends 'base.html' %}
{% load static %}

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<link rel="stylesheet" type="text/css" href="{% static '/styles.css' %}">

{% block title %}Login{% endblock %}

{% block content %}
<h2 style="color: beige;">Login</h2>
<form method="post" class="form">
  {% csrf_token %}
  <div style="color: beige;">
  {{ form.as_p }}</div> <br>
  <button class="btn-success btn-badge" type="submit">Login</button>
</form>
{% endblock %}