<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Mirai web app</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/styles.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  
  </head>
  <body>
    <div>
      <div class="booking-form3">
          <h3 style="color: bisque;padding-top: 5%;">Update Employee Details</h3>
    
    <form method="POST" action="/updateEmp/{{employee.eFname}}" class="forma">
      {% csrf_token %}

      <div class="form-group">
        <label class="form-label">First Name:</label>
        
        <input type="text" name="eFname" value="{{employee.eFname}}" />
      </div>

      <div class="form-group">
        <label class="form-label">Last Name:</label>
        
        <input type="text" name="eLname" value="{{employee.eLname}}" />
      </div>

      <div class="form-group">
        <label class="form-label">Company:</label>
        <input type="text" name="eCompany" value="{{employee.eCompany}}" />
      </div>

      <div class="form-group">
        <label class="form-label">Employee Email:</label>
        <input type="text" name="eEmail" value="{{employee.eEmail}}" />
      </div><br>

      <div class="form-group">
        <label class="form-label">Employee phone:</label>
        <input type="text" name="ePhone" value="{{employee.ePhone}}" />
      </div><br>

      <button type="submit" class="btn-success">Submit</button>
    </form>
  </div></div>
  </body>
</html>
