<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Mirai web app</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/styles.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  
  </head>
  <body>
    <div>
      <div class="booking-form3">
          <h3 style="color: bisque;padding-top: 5%;">Update Company Details</h3>
    
    <form method="POST" action="/update/{{company.cName}}" class="forma">
      {% csrf_token %}

      <div class="form-group">
        <label class="form-label">Company:</label>
        
        <input type="text" name="cName" value="{{company.cName}}" />
      </div>

      <div class="form-group">
        <label class="form-label">Email:</label>
        
        <input type="text" name="cEmail" value="{{company.cEmail}}" />
      </div>

      <div class="form-group">
        <label class="form-label">Logo:</label>
        <input type="text" name="cLogo" value="{{company.cLogo}}" />
      </div>

      <div class="form-group">
        <label class="form-label">Url:</label>
        <input type="text" name="cUrl" value="{{company.cUrl}}" />
      </div><br>

      <button type="submit" class="btn-success">Submit</button>
    </form>
  </div></div>
  </body>
</html>
